.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}

.left {
    width: 50%;
    margin: auto 4rem;
    padding: 2rem;
}

.left-img {
    height: 100%;
    width: 100%;
}

.right {
    width: 50%;
    margin: auto 4rem;
    padding: 2rem;
}

.forgot-password {
    color: blue;
    text-decoration: underline;
    position: relative;
    margin-left: 0px;
}

.forgot-password:hover {
    opacity: 0.6;
    cursor: pointer;
}

.center-items {
    text-align: center;
}


.signup {
    color: blue;
    text-decoration: underline;
}

.signup:hover {
    cursor: pointer;
}