<div class="main">
    <div class="left">
        <img class="left-img" src="assets\login.svg" alt="">
    </div>
    <div class="right">
        <h3>Login</h3>
        <p>Doesn't have an account yet?<span class="signup" (click)="goToSignUp()">Sign Up</span></p>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
        </div>
        <p class="forgot-password">Forgot Password?</p>
        <div class="center-items">
            <button class="btn btn-primary">LOGIN</button>
        </div>
    </div>
</div>